!!!
html
  head
    title= 'blog.diki.io'
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap-spacelab.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') blog.diki.io
    .wrap
      .container(style='margin-top:60px')
        .row
          div
            block content

